body {
    background-color: gray;
}

.main {
    padding: 3%;
}

@media screen and (max-width: 600px) {
    .main {
        background-color: blue;
    }
}

@media screen and (min-width: 601px) and (max-width:768px) {
    .main {
        background-color: green;
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    .main {
        background-color: brown;
    }
}

@media screen and (min-width: 1025px) {
    .main {
        background-color: red;
    }
}