body {
    background-color: gray;
}

.item{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(2, 2, 2);
}

.item2{
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 4;

}

.grid{
    padding: 10px;
    background-color: rgb(39, 156, 156);
    display: inline-grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: repeat(12, 50px) ;
}